* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    color: gray;
    background-color: #FCFFFF;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
}

h2,
legend {
    color: #2C3844;
}

form {
    padding-top: .5em;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: 2px solid rgba(255,255,255,0.1) /*rgba(0,0,0,0.05)*/;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
  border-radius: 4px;
}

.inp {
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 10px 14px 18px 10px;
  padding: 1em 1em;
}

select {
  padding: 6px;
  height: 50px;
  border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4FBAB5;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    /* border: 1px solid #3ac162; */
    /* border-width: 1px 1px 3px; */
    /* box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset; */
    margin: 5px 0 10px;
  }
  
  fieldset {
    border: none;
    /* border-top: 2px solid #2C3844; */
    padding: 1em 0 0 0;

  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
  }
  
  label {
    margin-bottom: 8px;
    color: gray;
  }

  .col {
      display: block;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }

/* ----------------------------------------------- */

.container {
    max-width: 90%;
    margin: 0 auto;
}

.main-header,
.main-footer {
    text-align: center;
}

div[class="name"] {
    background-color:#2C3844;
    padding-top: 1em;
    padding-bottom: 1em;
}

.name {
    color: white;
    text-transform: uppercase;
}

.banner {
    border-bottom: 5px solid #2C3844;
    padding-bottom: 2em;
}

.txt-a {
    height: 100px;
    width: 100%
}

hr.separator-bar {
        display: block;
        height: 2px;
        border: 0;
        border-top: 2px solid #2C3844;
        margin: 3px 0 2em;
        padding: 0;
}

input[id="zip"] {
    width: 50%;
}

input:focus,
textarea:focus {
    border-color: #0b3865;
}

.main-footer {
    margin: 1.5em 0 15em;
}

.news-label {
    margin: 7px 0 20px;
    display: block;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
    opacity: 0.5;
    font-style: italic;
    font-size: .9em;
    padding: 0 10px;
}

input[id="phonenum"] {
    text-align: left;
}

.btn:hover {
    opacity: .75;
}

/* ------------------------------------------- */

@media (min-width: 768px) {
    .container {
        max-width: 70%;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .inp {
        width: 70%;
        display: inline;
    }

    .col{
        display: inline;
        padding-top: 1em;
    }

    label[for="zip"] {
        display: inline-block;
        width: 30%;
    }

}

.clear {
    clear: both;
}