* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: gray;
    background-color: #FCFFFF;
}

h2,
legend {
    color: #2C3844;
}

form {
    padding-top: 1.5em;
    margin-top: 0.25em;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 14px 18px 0;
  padding: 1em 1em;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4FBAB5;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    /* border: 1px solid #3ac162; */
    /* border-width: 1px 1px 3px; */
    /* box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset; */
    margin: 5px 0 10px;
  }
  
  fieldset {
    border: none;
    /* border-top: 2px solid #2C3844; */
    padding: 1em 0 0 0;

  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    display: block;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: gray;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }

/* ----------------------------------------------- */

.container {
    max-width: 90%;
    margin: 0 auto;
}

.main-header,
.main-footer {
    text-align: center;
}

div[class="name"] {
    background-color:#2C3844;
    padding-top: 1em;
    padding-bottom: 1em;
}

.name {
    color: white;
    text-transform: uppercase;
}

.banner {
    border-bottom: 5px solid #2C3844;
    padding-bottom: 2em;
}

.txt-a {
    height: 100px;
}

legend::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2C3844;
}



